@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

@import url("./styles/About.css");
@import url("./styles/Categories.css");
@import url("./styles/Contacts.css");
@import url("./styles/Footer.css");
@import url("./styles/Header.css");
@import url("./styles/Items.css");
@import url("./styles/OrderForm.css");
@import url("./styles/Orders.css");
@import url("./styles/Presentation.css");
@import url("./styles/ShowFullItem.css");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  min-width: 320px;
  background: #fff;
  color: #222;
}
@media screen and (max-width: 1100px) {
  .wrapper {
    max-width: 800px;
  }
}
